body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  padding: 0 2rem;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 1.5rem 0;
}
@media (max-width: 600px) {
  .content {
    min-height: calc(100vh - 56px - 70px);
  }
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.centered {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.price {
  font-size: 1.5rem;
}

.cart {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 5;
  padding: 0.7rem 1rem;
  border-radius: 15px;;
}

@media (min-width: 767px) {
  .cart {
    top: 5rem;
    bottom: unset;
  }
}

.cart-quantity {

}

.basket-list {
  position: fixed;
  bottom: 5rem;
  right: 2.5rem;
  /* transform: translate(-50%, -50%); */
  width: 400px;
  max-width: 95%;
  max-height: 70%;
  overflow-y: auto;
  background-color: white;
  box-shadow: inset -1px 3px 8px 5px #1f87ff, 
    2px 5px 16px 0px #0b325e, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  
  border: unset;
  border-radius: 6px;

  animation: show-mobile 500ms ease-in-out;
}

@media (min-width: 767px) {
  .basket-list {
    top: 10rem;
    bottom: unset;
    animation: show 500ms ease-in-out;
  }
}

.basket-delete {
  margin-left: 5px;
}

@keyframes show {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    top: 10rem;
    opacity: 1;
  }
}

@keyframes show-mobile {
  from {
    right: 0;
    opacity: 0;
  }
  to {
    bottom: 5rem;
    opacity: 1;
  }
}

.basket_quantity {
  font-size: 1.1rem;
  margin: 0px 2px;
}

.pointer{
  cursor: pointer;
}

#toast-container {
  top: 3rem !important;
}

@media (max-width: 767px) {
  #toast-container {
    right: 0rem !important;
    left: 0rem !important;
  }
  .toast {
    width: 80% !important;
    margin: auto;
  }
}
